<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".MyActivity" />
        <activity android:name=".ChartActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ZhuanZhang_page" />
        <activity android:name=".shouru_page" />
        <activity android:name=".zhichu_page" />
        <activity android:name=".Find_Code" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".OtherLoginActivity" />
        <activity android:name=".LoginActicity" />
        <activity
            android:name=".GestureUnlockActivity"
            android:exported="false" />
    </application>

</manifest>